<div class="page left">
    <div class="row"><div class="twelve columns">&nbsp;</div></div>

    <div class="row" style="height: calc(calc(100% - 24px - 24px) / 3)">
        <div class="one column">&nbsp;</div>
        <div class="eleven columns">
            <h3>January</h3>
            {{#calendar "January"}}{{/calendar}}
        </div>
    </div>

    <hr/>

    <div class="row" style="height: calc(calc(100% - 24px - 24px) / 3)">
        <div class="one column">&nbsp;</div>
        <div class="eleven columns">
            <h3>February</h3>
            {{#calendar "February"}}{{/calendar}}
        </div>
    </div>

    <hr/>

    <div class="row" style="height: calc(calc(100% - 24px - 24px) / 3)">
        <div class="one column">&nbsp;</div>
        <div class="eleven columns">
            <h3>March</h3>
            {{#calendar "March"}}{{/calendar}}
        </div>
    </div>

    <!-- implied <div class="row"><div class="twelve columns">&nbsp;</div></div> -->

</div>

<div class="page right future-planner">
    <div class="row">
        <div class="twelve columns">&nbsp;</div>
    </div>

    <div class="row" style="height: calc(calc(100% - 24px - 24px) / 3)">
        <div class="eleven columns">
            <h3>April</h3>
            {{#calendar "April"}}{{/calendar}}
        </div>
        <div class="one column">&nbsp;</div>
    </div>

    <hr/>

    <div class="row" style="height: calc(calc(100% - 24px - 24px) / 3)">
        <div class="eleven columns">
            <h3>May</h3>
            {{#calendar "May"}}{{/calendar}}
        </div>
        <div class="one column">&nbsp;</div>
    </div>

    <hr/>

    <div class="row" style="height: calc(calc(100% - 24px - 24px) / 3)">
        <div class="eleven columns">
            <h3>June</h3>
            {{#calendar "June"}}{{/calendar}}
        </div>
        <div class="one column">&nbsp;</div>
    </div>
    <!-- <div class="row"><div class="twelve columns">&nbsp;</div></div> -->

</div>

<div class="page left future-planner">
    <div class="row">
        <div class="twelve columns">&nbsp;</div>
    </div>

    <div class="row" style="height: calc(calc(100% - 24px - 24px) / 3)">
        <div class="one column">&nbsp;</div>
        <div class="eleven columns">
            <h3>July</h3>
            {{#calendar "July"}}{{/calendar}}
        </div>
    </div>

    <hr/>

    <div class="row" style="height: calc(calc(100% - 24px - 24px) / 3)">
        <div class="one column">&nbsp;</div>
        <div class="eleven columns">
            <h3>August</h3>
            {{#calendar "August"}}{{/calendar}}
        </div>
    </div>

    <hr/>

    <div class="row" style="height: calc(calc(100% - 24px - 24px) / 3)">
        <div class="one column">&nbsp;</div>
        <div class="eleven columns">
            <h3>September</h3>
            {{#calendar "September"}}{{/calendar}}
        </div>
    </div>
    <!-- <div class="row"><div class="twelve columns">&nbsp;</div></div> -->
</div>

<div class="page right future-planner">
    <div class="row">
        <div class="twelve columns">&nbsp;</div>
    </div>

    <div class="row" style="height: calc(calc(100% - 24px - 24px) / 3)">
        <div class="eleven columns">
            <h3>October</h3>
            {{#calendar "October"}}{{/calendar}}
        </div>
        <div class="one column">&nbsp;</div>
    </div>

    <hr/>

    <div class="row" style="height: calc(calc(100% - 24px - 24px) / 3)">
        <div class="eleven columns">
            <h3>November</h3>
            {{#calendar "November"}}{{/calendar}}
        </div>
        <div class="one column">&nbsp;</div>
    </div>

    <hr/>

    <div class="row" style="height: calc(calc(100% - 24px - 24px) / 3)">
        <div class="eleven columns">
            <h3>December</h3>
            {{#calendar "December"}}{{/calendar}}
        </div>
        <div class="one column">&nbsp;</div>
    </div>
    <!-- <div class="row"><div class="twelve columns">&nbsp;</div></div> -->
</div>
