<div class="page right ignore"></div>

<div class="page left">
    <div class="row">
        <div class="twelve columns">&nbsp;</div>
    </div>
    <div class="row">
        <div class="twelve columns" style="text-align: center; height: calc(100% - 24px - 24px); display: flex; align-items: center; justify-content: center; flex-direction: column;">
            <h1>{{year}}</h1>
            <h5 style="color: #696969">This journal belongs to</h5>
            <hr style="width: 60%; margin: 20px 0 15px 0;"/>
            <h5 style="color: #696969">If found, please contact at</h5>
            <hr style="width: 60%; margin: 20px 0 15px 0;"/>
        </div>
    </div>
    <div class="row">
        <div class="one column">&nbsp;</div>
        <div class="eleven columns"><i style="color: #696969; font-size: 0.75em">Source code for journal at github.com/wbjacks/daily-planner</i></div>
    </div>
</div>
