<div class="page right">
    <div class="row">
        <div class="twelve columns">&nbsp;</div>
    </div>
    <div class="row">
        <div class="twelve columns" style="text-align: center; height: calc(210mm - 24px - 24px); display: flex; align-items: center; justify-content: center; flex-direction: column;">
            <h3>Tasks Legend</h3>
            <div style="background-color: rgb(0,0,0,0.2); width:75%; font-size: 10; padding: 0 20 0 20;">
                <div class="legend-item" style="margin-top: 20px;">
                    <i class="far fa-circle fa-2x"></i>
                    <h6>Event</h6>
                    An event occuring at a specific date. Meant to structure time rather than to define work.
                </div>
                <div class="legend-item">
                    <i class="fas fa-circle fa-xs"></i>
                    <h6>Task</h6>
                    An item of work. Subject to migration rules.
                </div>
                <div class="legend-item">
                    <i class="fas fa-times fa-2x"></i>
                    <h6>Completed Task</h6>
                    A successfully finished task. A deleted task should be struck-through.
                </div>
                <div class="legend-item">
                    <i class="fas fa-angle-left fa-3x"></i>
                    <h6>Scheduled Task</h6>
                    A task with planned future work. When the schedule is confirmed, mark the event as a task on the
                    appropriate parent planner on the right date.
                </div>
                <div class="legend-item">
                    <i class="fas fa-angle-right fa-3x"></i>
                    <h6>Migrated Task</h6>
                    A task that has successfully gone through the migration plan below.
                </div>
                <div class="legend-item">
                    <i class="fas fa-asterisk fa-lg"></i>
                    <i class="fas fa-exclamation fa-lg"></i>
                    <i class="fas fa-eye fa-lg"></i>                    
                    <h6>Signifiers</h6>
                    Used to add information to a task. From right to left...<br>
                    <i>priority</i>: mark a task as important<br>
                    <i>inspiration</i>: an interesting thought or idea<br>
                    <i>explore</i>: requires further research
                </div>
                <div class="legend-item">
                    <h6>Migration</h6>
                    Migrate tasks as months pass to keep information up-to-date. Start
                    by looking through previous monthly planners- mark tasks as complete
                    or strike out those that won't get completed. Migrate incomplete
                    tasks to the next month. Then, check the future planner for tasks
                    marked for the upcoming month. Move them to the next month, too.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page left ignore"></div>
