<div class="page left monthly-planner">
    <div class="row"> <!-- Spacer -->
        <div class="twelve columns">&nbsp;</div>
    </div>

    <div class="row">
        <div class="one column">&nbsp;</div>
        <div class="eleven columns">
            <h6 style="margin-bottom: 5px;">Monthly Schedule</h6>
        </div>
    </div>

    <div class="row">
        <div class="one column">&nbsp;</div>
        <div class="eleven columns">
            <hr style="width: 100%; margin: 0px 0 0px 0;"/>

            {{# each-day-in-month }}
                <span style="font-size: xx-small;">{{@day}}</span>
                <hr style="width: 100%; margin: 0px 0 0px 0;"/>
            {{/ each-day-in-month }}

        </div>
    </div>
    <div class="row">
        <div class="twelve columns" style="padding: 20px">
            <div class="box" style="height: calc(210mm - 24px - 29px - 40px - {{days-in-month}}em);">&nbsp;</div>
        </div>
    </div>
</div>

<div class="page right monthly-planner">
    <div class="row">
        <div class="twelve columns">&nbsp</div>
    </div>
    <div class="row">
        <div class="eleven columns">
            <h6 style="margin: 0 0 5px 50px; float: left;">Habit Tracker</h6>
            <h6 style="margin: 0 0 5px 325px;">Mood Tracker</h6>
        </div>
        <div class="one column">&nbsp;</div>
    </div>

    <div class="row">
        <div class="eleven columns">
            <hr style="width: 100%; margin: 0px 0 0px 0;"/>

            <svg height="{{days-in-month}}em" width="400" style="position: absolute">
                <path d="M50 0 V500" fill="transparent" stroke="gray"/>
                <path d="M70 0 V500" fill="transparent" stroke="gray"/>
                <path d="M90 0 V500" fill="transparent" stroke="gray"/>
                <path d="M110 0 V500" fill="transparent" stroke="gray"/>
                <path d="M130 0 V500" fill="transparent" stroke="gray"/>
                <path d="M150 0 V500" fill="transparent" stroke="gray"/>
                <path d="M170 0 V500" fill="transparent" stroke="gray"/>
                <path d="M190 0 V500" fill="transparent" stroke="gray"/>
                <path d="M210 0 V500" fill="transparent" stroke="gray"/>
                <path d="M230 0 V500" fill="transparent" stroke="gray"/>
                <path d="M250 0 V500" fill="transparent" stroke="gray"/>
                <path d="M270 0 V500" fill="transparent" stroke="gray"/>
                <path d="M290 0 V500" fill="transparent" stroke="gray"/>

                <path d="M310 0 V500" fill="transparent" stroke="black"/>
            </svg>

            {{# each-day-in-month }}
                <span style="margin-left: 310px; font-size: xx-small; opacity: 0.4;">&nbsp;
                    <i style="margin-left: 10px;" class="fas fa-poo"></i>
                    <i style="margin-left: 10px;" class="fas fa-frown"></i>
                    <i style="margin-left: 10px;" class="fas fa-meh"></i>
                    <i style="margin-left: 10px;" class="fas fa-smile"></i>
                    <i style="margin-left: 10px;" class="fas fa-child"></i>
                </span>
                <hr style="width: 100%; margin: 0px 0 0px 0;"/>
            {{/ each-day-in-month}}

            <svg height="100px" width="100%">
                <path d="M50 0 l 70 100" fill="transparent" stroke="gray"/>
                <path d="M70 0 l 70 100" fill="transparent" stroke="gray"/>
                <path d="M90 0 l 70 100" fill="transparent" stroke="gray"/>
                <path d="M110 0 l 70 100" fill="transparent" stroke="gray"/>
                <path d="M130 0 l 70 100" fill="transparent" stroke="gray"/>
                <path d="M150 0 l 70 100" fill="transparent" stroke="gray"/>
                <path d="M170 0 l 70 100" fill="transparent" stroke="gray"/>
                <path d="M190 0 l 70 100" fill="transparent" stroke="gray"/>
                <path d="M210 0 l 70 100" fill="transparent" stroke="gray"/>
                <path d="M230 0 l 70 100" fill="transparent" stroke="gray"/>
                <path d="M250 0 l 70 100" fill="transparent" stroke="gray"/>
                <path d="M270 0 l 70 100" fill="transparent" stroke="gray"/>
                <path d="M290 0 l 70 100" fill="transparent" stroke="gray"/>
            </svg>
        </div>
        <div class="one column">&nbsp;</div>
    </div>
    <div class="row">
        <div class="eleven columns" style="height: calc(210mm - 24px - 29px - {{days-in-month}}em - 100px - 24px); display: flex; align-items: flex-end; justify-content: flex-end;">
            <h1>{{month}}</h1>
        </div>
        <div class="one column">&nbsp;</div>
    </div>
    <div class="row">
        <div class="twelve columns">&nbsp</div>
    </div>
</div>
