<div class="page left weekly-planner">
    <div class="row">
        <div class="one column">&nbsp;</div>
        <div class="eleven columns" style="padding-top: 30px">
            {{# each-day-date-in-week }}
                {{# if @isWeekday }}
                    <div style="margin-bottom: calc(calc(calc(210mm - 60px) / 6) - 40px)">
                        <h4>{{@dayDate}}</h4>
                    </div>
                {{else}}
                    {{# ifEq @day '6' }}
        </div> <!-- col -->
    </div> <!-- row -->
                    
    <div class="row">
        <div class="one column">&nbsp;</div>
        <div class="five columns"><h4>{{@dayDate}}</h4></div>
                    {{else}}
        <div class="six columns"><h4>{{@dayDate}}</h4></div>
    </div>
                    {{/ ifEq}}
                {{/ if }}
            {{/ each-day-date-in-week }}
        </div>
    </div>
</div>

<div class="page right weekly_planner">
    <div class="row"><div class="twelve columns">&nbsp;</div></div>

    <div class="row" style="margin-bottom: 10px">
        <div class="one column">&nbsp;</div>
        <div class="ten columns box" style="height: calc(calc(210mm - 48px - 30px) / 4)">
            <h3>Notes</h3>
        </div>
        <div class="one column">&nbsp;</div>
    </div>

    <div class="row" style="margin-bottom: 10px">
        <div class="one column">&nbsp;</div>
        <div class="ten columns box" style="height: calc(calc(210mm - 48px - 30px) / 4)">
            <h3>Upcoming</h3>
        </div>
        <div class="one column">&nbsp;</div>
    </div>

    <div class="row">
        <div class="one column">&nbsp;</div>
        <div class="ten columns box" style="height: calc(calc(210mm - 48px - 30px) / 2)">
            <h3>Tasks</h3>
        </div>
        <div class="one column">&nbsp;</div>
    </div>
</div>
