<div class="page left">
    <div class="row"><div class="twelve columns">&nbsp;</div></div>

    <div class="row">
        <div class="one column">&nbsp;</div>

        <div class="ten columns box" style="height: calc(calc(210mm - 48px - 10px) / 2); margin-bottom: 10px;">
            <h2>Resolutions</h2>
        </div>
    </div>

    <div class="row">
        <div class="one column">&nbsp;</div>

        <div class="ten columns box" style="height: calc(calc(210mm - 48px - 10px - 20px) / 2)">
            <h2>Trip Ideas</h2>
        </div>
    </div>

    <div class="row"><div class="twelve columns">&nbsp;</div></div>
</div>

<div class="page right">
    <div class="row"><div class="twelve columns">&nbsp;</div></div>

    <div class="row">
        <div class="one column">&nbsp;</div>

        <div class="ten columns box" style="height: calc(calc(210mm - 48px - 10px) / 2); margin-bottom: 10px;">
            <h2>Highlights</h2>
        </div>
    </div>

    <div class="row">
        <div class="one column">&nbsp;</div>

        <div class="ten columns box" style="height: calc(calc(210mm - 48px - 10px - 20px) / 2)">
            <h4>Professional Accomplishments</h4>
        </div>
    </div>

    <div class="row"><div class="twelve columns">&nbsp;</div></div>
</div>
